.navbar {
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

#nav-items-left {
  margin: 1.5em;
  font-family: "Bungee", cursive;
  font-size: 30px;
}

.nav-items-right {
  list-style-type: none;
  margin-right: 1.5em;
  text-transform: none;
}

.arrow {
  text-align: center;
}

.fa-solid {
  color: red;
}

.nav-create-tweet {
  margin-top: 40px;
}
