html {
  padding-bottom: 10em;
}

#error-message {
  border: 0.3em solid red;
  color: red;
  display: none;
  padding: 0.6em;
  text-align: center;
}

.tweet {
  margin-bottom: 20px;
}

.tweet header {
  margin: 0.3em;
}
/* 
The Tweet boxes need a cursor :hover feature, with a dark backdrop, as to insinuate that the card 
lifts off the page when the cursor moves over it */

.tweet:hover {
  box-shadow: 10px 10px 10px grey;
}

.new-tweet form {
  display: flex;
  flex-direction: column;

  /* gap spces evenly children and grand-children of container */
  gap: 10px;

  padding-top: 10px;
}

.div-counter {
  display: flex;
  justify-content: space-between;
}

.message {
  font-size: larger;
  margin-top: 20px;
  margin-left: 10px;
}

#tweet-text {
  background-color: transparent;
  border: none;
  border-bottom: black solid 5px;
}

.counter {
  margin-right: 10px;
}

.red-text {
  color: red;
}

.btn {
  font-family: "Bungee", cursive;
  background-color: #4056a1;
  color: #ffffff;
  margin-left: 10px;
  margin-bottom: 70px;
  cursor: pointer;
}
